.container {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 100% 300px;
}

.header {
    grid-row: 1;
    grid-column: span 12;
    background-color: darkgreen;
}

.body {
    min-height: 100vh;
    grid-row: 2;
    grid-column: span 12;
    background-color: lightcoral;
}

.footer {
    grid-row: 3;
    grid-column: span 12;
    background-color: darkgreen;
}