<div class="container">
  <div class="header">
    <app-header01 [backgroundColor]="['#2f8a56']" [textColor]="['#fff']" [backgroundImage]="['assets/image/tea-baner-logo-green-4k-length.png']"
      [backgroundSize]="['auto']">
      <a [routerLink]="['/']" class="right-side">
        <span>About Us</span>
      </a>
      <a [routerLink]="['/']" class="right-side">
        <span>Sign Up</span>
      </a>
      <a [routerLink]="['/']" class="right-side">
        <span>Sign In</span>
      </a>
    </app-header01>
  </div>
  <div class="body">
    <app-body-part-layout01>
      <app-body-part-row>
        <app-wallpaper-land>
          <app-wallpaper [backgroundImage]="" [backgroundColor]="['rgba(128, 128, 128, 0.308)']" [backgroundSize]="" [backgroundPosition]=""
            [color]="['#fff']" [flex]="['center']">
            <app-wallpaper-land-title>
              Title
            </app-wallpaper-land-title>
            <app-wallpaper-land-content>
              Content
            </app-wallpaper-land-content>
          </app-wallpaper>

        </app-wallpaper-land>
      </app-body-part-row>
    </app-body-part-layout01>
  </div>
</div>