.container-layout {
    min-width: inherit;
    min-height: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.land-wallpaper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: hotpink;
}

.title-wall {
    padding: 10px;
    flex: 0.5 0 240px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    background-color: rgba(151, 151, 151, 0.38)
}

.land-leaf {
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
}

.content-leaf {
    flex: 0.5 0 240px;
    font-size: 18px;
    padding: 10px;
    display: flex;
    background-color: rgba(255, 250, 240, 0.38);
}

.content-leaf > * {
    flex: 0 0 300px;
}