/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Lora', serif;

}

body a,a:hover,a:active {
    text-decoration: none;
    color: inherit;
}