:host .container {
    min-height: inherit;
    height: 100%;
    width: 100%;
    max-height: inherit;
    min-width: inherit;
    display: flex;
}

:host /deep/ .container a:hover ,a:active  {
    background-color: rgba(161, 161, 161, 0.3);
}

.left-side {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* background-color: lightsteelblue */
}

:host /deep/ .left-side > * {
    min-width: 120px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 120px;
    border-radius: 4px;    
}

.right-side {
    height: inherit;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* background-color: azure; */
}

:host /deep/ .right-side > * {
    min-width: 120px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 120px;
    border-radius: 4px;    
}

:host /deep/ .left-side > * {
    height: inherit;    
}