<div class="container" [ngStyle]="setStyle()">
  <div class="left-side">
    <ng-content select=".left-side"></ng-content>
  </div>
  <div class="right-side">
    <ng-content select=".right-side"></ng-content>
  </div>
</div>