.container-layout {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
}

.land-wallpaper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: hotpink;
}

.land-wallpaper > * {
    min-width: inherit;
    min-height: inherit;
    height: 100%;
    flex: 0.5 0 240px;
}