.container-layout {
    min-width: inherit;
    min-height: inherit;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    font-weight: 600;
}

.wallpaper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-wall {
    font-size: 36px;
    display: flex;
}
.content-wall {
    font-size: 24px;
    display: flex;
}
