<div class="container-layout">
  <div class="wallpaper" [ngStyle]="wall()">
    <div class="title-wall" [ngStyle]="title()">
      <ng-content select="app-wallpaper-land-title" [ngStyle]="titleStyle()"></ng-content>
    </div>
    <div class="content-wall" [ngStyle]="content()">
      <ng-content select="app-wallpaper-land-content" [ngStyle]="contentStyle()"></ng-content>
    </div>
  </div>
</div>